/* line 1, ../sass/custom.scss */
html {
  height: 100%;
}

/* line 5, ../sass/custom.scss */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #010101;
}

/* line 10, ../sass/custom.scss */
::-webkit-scrollbar-button {
  display: none;
  background-color: #010101;
}

/* line 14, ../sass/custom.scss */
::-webkit-scrollbar-track-piece {
  background-color: #303030;
}

/* line 17, ../sass/custom.scss */
::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
  background-color: #717171;
  -webkit-border-radius: 4px;
}

/* line 22, ../sass/custom.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../sass/custom.scss */
body {
  position: relative;
  min-height: 100%;
  padding-top: 40px;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  color: #353535;
  background: #e1e1e1;
  background: -webkit-linear-gradient(bottom, #dddddd 0%, white 30%);
  background: -moz-linear-gradient(bottom, #dddddd 0%, white 30%);
  background: -ms-linear-gradient(bottom, #dddddd 0%, white 30%);
  background: -o-linear-gradient(bottom, #dddddd 0%, white 30%);
  background: linear-gradient(bottom, #dddddd 0%, #ffffff 30%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE1E1E1', endColorstr='#FFFFFFFF',GradientType=0);
}

/* line 55, ../sass/custom.scss */
h1 {
  width: 100%;
  padding: 40px 0 0 0;
  text-align: center;
  font-weight: 900;
  font-size: 4.2em;
  line-height: 1em;
}

/* line 64, ../sass/custom.scss */
a {
  color: #3da1d1;
  text-decoration: none;
}
/* line 68, ../sass/custom.scss */
a:hover {
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
  color: #60b7e2;
}

/* line 74, ../sass/custom.scss */
#data {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 1.4em;
  line-height: 1em;
  font-weight: 400;
}

/* line 83, ../sass/custom.scss */
.social_share {
  min-height: 36px;
  max-width: 366px;
  margin: 60px auto 0 auto;
}
/* line 88, ../sass/custom.scss */
.social_share a {
  display: inline-block;
  height: 32px;
  width: 120px;
  margin-bottom: 14px;
  padding: 12px 0px;
  background-color: #60b7e2;
  border-radius: 2px;
  text-align: center;
  font-size: 0.7em;
  line-height: 0.7em;
  font-weight: 400;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
/* line 104, ../sass/custom.scss */
.social_share a:hover {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: #3da1d1;
}

/* line 111, ../sass/custom.scss */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 10px 0;
  text-align: center;
  font-size: 0.8em;
  font-weight: 400;
}
