/* line 1, ../sass/custom.scss */
html {
  height: 100%;
}

/* line 5, ../sass/custom.scss */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #010101;
}

/* line 10, ../sass/custom.scss */
::-webkit-scrollbar-button {
  display: none;
  background-color: #010101;
}

/* line 14, ../sass/custom.scss */
::-webkit-scrollbar-track-piece {
  background-color: #303030;
}

/* line 17, ../sass/custom.scss */
::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
  background-color: #717171;
  -webkit-border-radius: 4px;
}

/* line 22, ../sass/custom.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../sass/custom.scss */
body {
  position: relative;
  min-height: 100%;
  padding-top: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  color: #222;
  background: #e9e3d3;
  background: -webkit-linear-gradient(bottom, white 0%, #e9e3d3 70%);
  background: -moz-linear-gradient(bottom, white 0%, #e9e3d3 70%);
  background: -ms-linear-gradient(bottom, white 0%, #e9e3d3 70%);
  background: -o-linear-gradient(bottom, white 0%, #e9e3d3 70%);
  background: linear-gradient(bottom, #ffffff 0%, #e9e3d3 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFe9e3d3', endColorstr='#FFFFFFFF',GradientType=0);
  background-attachment: fixed;
}

/* line 56, ../sass/custom.scss */
h1 {
  width: 100%;
  padding: 40px 0 0 0;
  text-align: center;
  font-weight: 900;
  font-size: 7.2em;
  line-height: 1em;
}

/* line 65, ../sass/custom.scss */
a {
  color: #3da1d1;
  text-decoration: none;
}
/* line 69, ../sass/custom.scss */
a:hover {
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
  color: #60b7e2;
}

/* line 75, ../sass/custom.scss */
#data {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 1.8em;
  line-height: 1.8em;
  font-weight: bold;
  font-family: 'Indie Flower';
}

/* line 85, ../sass/custom.scss */
.social_share {
  min-height: 36px;
  max-width: 432px;
  margin: 60px auto 0 auto;
  font-family: 'Indie Flower';
  padding-bottom: 32px;
}
/* line 92, ../sass/custom.scss */
.social_share a {
  display: inline-block;
  height: 32px;
  width: 140px;
  margin-bottom: 14px;
  padding: 12px 0px;
  background-color: #3da1d1;
  border-radius: 2px;
  text-align: center;
  font-size: 0.8em;
  line-height: 0.75em;
  font-weight: 400;
  color: white;
  text-decoration: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
/* line 108, ../sass/custom.scss */
.social_share a:hover {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: #60b7e2;
}

/* line 115, ../sass/custom.scss */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 10px 0;
  text-align: center;
  font-size: 0.8em;
  font-weight: 400;
}
